body {
    font-family: var(--FontPoppins);
    color: var(maintTextblck);
}

/* Header */
header {
    width: auto;
    height: 102px;
    background-color: var(--mainGrayLight);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.7px solid #C4C4C4
}

.logo {
    flex-grow: 6;
}

h1 {
    color: var(--maintTextblue);
    font-size: 29px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.navbar {
    flex-grow: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#leftnav {
    flex-grow: 5;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--maintTextblck);
}

.navbar li:first-child a {
    position: relative;
    color: var(--maintTextblue);
}

.navbar li:first-child a:before {
    content: " ";
    background-color: #08D3BB;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: -8px;
}

#rightnav {
    flex-grow: 4;
    display: flex;
    justify-content: end;
}

#rightnav a {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    display: flex;
    height: 33.88px;
    width: 125px;
    border-radius: 6px;
    background-color: var(--maintTextblue);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: var(--mainGrayLight);
}

/* Main */
/* Footer */
.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 534px;
    background-color: var(--mainLighblue);
    position: relative;

}

.footer-top::before {
    content: url(../icon/star.svg);
    position: absolute;
    transform: rotate (-24.8deg);
    top: -50px;
    left: 167px;
}

.footer-top p {
    position: relative;
    max-width: 516px;
    font-size: 30px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
}



.footer-top p::after {
    content: url(../icon/footericon.svg);
    position: absolute;
    top: -50px;
    right: -50px;
}

.footer-top input {
    height: 67px;
    width: 532px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin-right: 14px;
}

.footer-top input::placeholder {

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;

}

.footer-top button {
    height: 67px;
    width: 173px;
    background-color: var(--maintTextblck);
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF4F4;
    border-radius: 10px;
}