.navbar li:first-child a {
    color: var(--maintTextblck);
}

.navbar li:first-child a:before {
    content: none;
    background-color: var(--mainGrayLight);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: -8px;
}

.navbar li:nth-child(3) a {
    position: relative;
    color: var(--maintTextblue);
}

.navbar li:nth-child(3) a:before {
    content: " ";
    background-color: #08D3BB;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: -8px;
}

main {}

.services-title {
    height: 743px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding-top: 78px;
    margin-bottom: 40px;
    background: rgba(16, 144, 203, 0.1);
}

.services-title h2 {
    display: inline;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}

.services-title h2 span {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--maintTextblue);
}

.services-title p {
    width: 440px;
    color: #696969;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.card_parentt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 88px;
    padding-left: 62px;
    height: 441px;
    width: 1203px;
    background: #FFFFFF;
    box-shadow: 0px 4px 114px 0px #00000017;
    border-radius: 10px;
    margin-top: 50px;
}

.services-card ::after {
    position: absolute;
    content: url(../icon/servicicon.svg);
    top: -60px;
    right: 60px;
}

.card_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_group:first-child {
    gap: 98px;
}

.card_group:last-child {
    gap: 138px;
}

.card {
    display: flex;
    align-items: center;
    gap: 39px;
}

#img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 91px;
    background: #F1E8FF;
    border-radius: 20px;

}

#inform1 h4 {
    max-width: 253px;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 8px;

}

#inform1 p {
    max-width: 323px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #797979;
}

#img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 91px;
    background: #FFF2F2;
    border-radius: 20px;

}

#inform2 h4 {
    max-width: 253px;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 8px;

}

#inform2 p {
    max-width: 355px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #797979;
}

#img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 91px;
    background: #E2F3FF;
    border-radius: 20px;

}

#inform3 h4 {
    max-width: 253px;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 8px;

}

#inform3 p {
    max-width: 283px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #797979;
}

#img4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 91px;
    background: #FFE7FB;
    border-radius: 20px;
}

#inform4 h4 {
    max-width: 253px;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 8px;

}

#inform4 p {
    max-width: 386px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #797979;
}

.services_about {
    margin-top: 100px;
    margin-bottom: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_about img {

    /* object-fit: cover;
    width: 600px; */
}


.services_about h5 {
    max-width: 516px;
    font-size: 30px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 56px;

}

.services_about p {
    max-width: 476px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    margin-bottom: 10px;
}

.services_about button {
    background-color: var(--mainGrayLight);
    width: 193px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid #1090CB;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 204.3%;
    color: var(--maintTextblue);
}

.luck {
    position: relative;
    height: 388px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1090CB;
    gap: 160px;
    margin-bottom: 100px;

}


.luck ::before {
    position: absolute;
    content: url(../icon/luck.svg);
    bottom: -50px;
    left: 25%;
}
.luck ::after{
    position: absolute;
    content: url(../icon/vector.svg);
    top: -30%;
    right: 22%;
}
.luck ::after {
    position: absolute;
    content: url(../icon/bell.svg);
    top: -20%;
    right: 8%;
}


.luck div p:first-child {
    color: var(--mainGrayLight);
    font-size: 65px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: center;
}

.luck div p:last-child {
    color: var(--mainGrayLight);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: center;

}

.project_Parent {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 63px;
    margin-bottom: 100px;
}

.project_tittle {
    margin-left: 70px; width: 100%;
    font-size: 36px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0.01em;
    text-align:left;

}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}

.project_item img {
    margin-bottom: 40px;
}

.project_item p:nth-child(2) {
    width: 333px;
    font-size: 23px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0.01em;
    text-align: left;

    margin-bottom: 20px;

}

.project_item p:last-child {
    width: 333px;
    height: 144.07px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #424242;

}