:root {
    /* Color */
    --mainGrayLight: #FFFFFF;
    --mainLighblue: #E8F4FA;
    --maintTextblue: #1090CB;
    --maintTextblck: #000000;
    --mainTextblck2:#515151;


    /* Font */
    --FontPoppins: "Poppins", sans-serif;
}